@import "variables";
@import "../node_modules/spectre.css/src/variables";
@import "../node_modules/spectre.css/src/mixins";
@import "inputrange";

// Base Elements
// ---------------------
fieldset{
  margin-bottom: $unit-2;
}

.btn.btn-wide{
  width: 100%;
}

.btn.btn-outline-primary{
  @include button-variant(#F77354);
  border-color: darken($light-color, 10%);
  color: darken($light-color, 10%);
  background-color: transparent;
}

.btn.btn-outline-secondary{
  @include button-variant($primary-color);
  color: $primary-color;
  background-color: transparent;
  text-transform: uppercase;
}

.btn.btn-lg{
  height: 2.4rem;
  padding: .35rem .6rem;
}

.modal {
  &:target,
  &.active {
    .modal-overlay {
      background: rgba($body-bg, .9);
    }
  }
}

.menu-item{
  font-size: $font-size-sm;
}

.menu .menu-item +.menu-item{
  margin-top: $unit-3;
}

.menu-transparent{
  background-color: transparent;

  > .menu-item{
    background-color: transparent;
  }
}

.tooltip {
  &::after{
    background: rgba(#468966, .95);
  }

  &:focus::after,
  &:hover::after {
      opacity: 1;
      transform: translate(-50%, -$unit-2);
  }
}

.card{
  color: $gray-color-dark;
  box-shadow: 0 1px 4px rgba(2, 44, 69, 0.31);
  border: 0;
  position: relative;

    .card-header,
    .card-body,
    .card-footer {
      padding: $unit-3;
      padding-bottom: 0;

      &:last-child {
        padding-bottom: $unit-3;
      }
    }

}

.card + .card{
  margin-top: $unit-2;
}

.card.card-search .card-title{
  color: $light-color;
  font-weight: bold;
  font-size: $font-size-sm;
}

.card .card-title{
  font-weight: bold;
  font-size: $font-size-sm;
}

// Sidebar items
// ---------------------
.sp-fieldset{
  > .legend{
    font-size: $font-size-sm;
    font-weight: bold;
    color: #3E99D2;
    margin-bottom: 0;
    text-transform: uppercase;
  }
}

// Autocomplete
// ---------------------
.form-autocomplete-input + .menu{
  display: none;
  animation: slide-down .15s ease 1;
  width: 15rem;
  max-width: 100%;
}

.form-autocomplete-input.is-focused + .menu{
  display: block;
}


.card.card-search + .card{
  margin-top: $unit-6;
}

.card.card-search{
  background: rgba(55,93,129,0.65);
  z-index: $zindex-2;

  .form-autocomplete .icon{
    pointer-events: none;
  }

  .form-autocomplete .form-autocomplete-input .form-input{
    height: 1.6rem;
    line-height: 1.4rem;
  }

  .column > .form-group > .form-select{
    height: 2.1rem;
    border-color: transparent;
    color: $body-font-color;

    &:focus{
      border-color: $primary-color;
    }
  }

  .form-input{
    border: 1px solid $light-color;
    background-color: $light-color;
  }

  .form-autocomplete-input .form-icon{
    display: none;
  }

  .menu .form-input{
    border: 1px solid $primary-color;
    text-align: center;
  }

  .form-autocomplete-input.is-focused{
    border: 1px solid $primary-color;
    .form-input{
      .icon{
        color: #3E99D2;
        fill: #3E99D2;
      }
    }
  }

  & .column{
    margin-top: .5rem;
  }

  @media (min-width: $size-sm) {
    .form-autocomplete-input + .menu{
      width: 15rem;
      max-width: none;
    }

    .menu.is-right{
      left: auto;
      right: 0;
    }
  }

  @media (min-width: $size-xs) and (max-width: $size-md + 1)  {
    .actions-bar .btn.btn-lg{
      height: 2.2rem;
    }
  }

}

.form-autocomplete.form-autocomplete-addon .form-autocomplete-input{
  position: relative;

  > .icon{
    margin: 0 .25rem;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;
  }
}

// Card with data items

.column.is-data{
  min-height: 2.4rem;
  font-weight: bold;

}

.column.is-price{
  position: relative;
  padding-top: 1rem;
  min-height: 2.4rem;
  line-height: 1;
  font-weight: normal;
  text-align: right;
}

.columns > .column.is-actions{
  padding-left: .5rem;
  border-left: 1px solid lighten($gray-color, 8%);
}

@media (max-width: $size-sm - 1px) {
  .columns > .column.is-actions{
    border-top: 1px solid lighten($gray-color, 8%);
    border-left: 0;
    padding-left: 0;
    padding-top: .5rem;
  }

  .column.is-data,
  .column.is-price{
    text-align: left;
    padding-bottom: 0;
  }
}

.column.is-action{
  text-align: right;
  min-height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.column.is-price > .heading{
  display: inline-block;
  position: absolute;
  top: 0;
  right: .4rem;
  color: $gray-color-dark;

  > svg{
    fill: $gray-color-dark;
  }

  &.active,
  &:hover{
    text-decoration: none;

    color: $primary-color-light;

    svg{
      fill: $primary-color-light;
    }
  }

  &:focus{
    text-decoration: none;
  }

  @media (max-width: $size-sm - 1px) {
    right: auto;
    left: .4rem;
  }
}



.column .form-autocomplete .form-autocomplete-input .form-input{
  width: 100%;
}
.columns.col-small-gaps{
  margin-left: -.2rem;
  margin-right: -.2rem;
}
.columns.col-small-gaps>.column {
  padding-left: .2rem;
  padding-right: .2rem;
}

.sp-container.container,
.sp-navbar > .container{
  max-width: $control-width-xl;
}

.off-canvas-content{
  width: 100%;
}

.sp-content{
  padding-left: 2%;
  padding-right: .5rem;
  padding-top: .5rem;
  position: relative;

  &:before{
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 50%;
    padding-top: 22%;
    background: url('../img/bg-plane.png') 0 0 no-repeat;
    background-size: cover;
    z-index: 0;

    @media only screen and (min-device-pixel-ratio: 2) {
     background-image:url('../img/bg-plane_2x.png');
    }

    @media (max-width: $size-sm) {
      width: 80%;
      top: -5%;
    }
  }
}

.s-title{
  color: #3e99d2;
  font-weight: bold;
  font-size: $font-size-sm;
}

.slider-item{
  @include clearfix();
  > .val1,
  > .val2{
    display: block;
    width: 50%;
    float: left;
    margin-top: $unit-1;
    color: #ccc;
  }
  > .val1{
    text-align: left;
  }

  > .val2{
    text-align: right;
  }
}

@media (min-width: $size-md) {
  .col-md-one-five {
    width: 20%;
  }
}

.navbar .off-canvas-toggle{
  display: block;
  position: static;
  z-index: $zindex-0;

  @media (min-width: $size-lg) {
    display: none;
  }
}

.off-canvas {
  .off-canvas-toggle {
    font-size: 1rem;
    top: 1rem;
    position: static;
  }

  .off-canvas-sidebar {
    width: 11.5rem;
    background-color: $body-bg;
    overflow: auto; // Remove it, if you use native overflow
    background-color: #074c76;
  }

  .off-canvas-content {
    padding: 0;
    position: relative;
    z-index: 0;
  }
}

.sp-container {
  min-height: 100vh;
  padding-top: 4rem;
}

.sp-navbar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: $zindex-4;
  width: 100%;
  background-color: #022C45;
  border-bottom: 1px solid #022C45;
  height: 4rem;

  .container{
    padding-left: .9rem;
    padding-right: .9rem;
  }

  .container,
  .navbar{
    height: 100%;
  }

  .btn.btn-link{
    color: $light-color;

    &:focus,
    &:hover,
    &:active,
    &.active {
      color: $gray-color;
    }
  }
}

.off-canvas .sp-sidebar.off-canvas-sidebar{
  z-index: $zindex-0;
}
.sp-sidebar {
  color: $light-color;

  .menu-item,
  .menu{
    padding: 0;
  }

  .sp-nav > .menu:first-of-type > .menu-item{
    border-bottom: 1px solid rgba(255, 255, 255, 0.33);
  }

  .menu{
    padding-bottom: 1rem;
    box-shadow: none;
  }

  .sp-nav {
    bottom: 0;
    //overflow-y: auto;
    padding: .5rem;
    position: fixed;
    top: 4rem;
    width: 11.5rem;
    -webkit-overflow-scrolling: touch;
  }
}

.sp-brand {
  color: $primary-color;
  height: 2rem;

  .sp-logo {
    align-items: center;
    border-radius: $border-radius;
    display: inline-flex;
    height: 2rem;
    width: auto;

    &:focus,
    &:hover {
      text-decoration: none;
    }

    img {
      display: inline-block;
      height: auto;
      width: 5rem;
    }

    h2 {
      display: inline-block;
      font-size: .8rem;
      font-weight: 700;
      line-height: 1.5rem;
      margin-bottom: 0;
      margin-left: .5rem;
      margin-right: .5rem;
    }
  }
}
@media (min-width: 960px) {
  .off-canvas .off-canvas-sidebar{
    transform: translateX(0);
  }
}


/* Spectre Homepage style */
@media (max-width: 960px - 1px) {
  .off-canvas {
    .off-canvas-toggle {
      z-index: $zindex-3;
      display: inline-block;
    }

    .off-canvas-content {
      width: 100%;
    }
  }

  .off-canvas .sp-sidebar.off-canvas-sidebar{
    top: 0;
    z-index: $zindex-4;
  }

  .sp-sidebar {
    .sp-brand {
      margin: .85rem 1.5rem;
      padding: 0;
      position: static;
    }

    .sp-nav {
      position: static;
    }

    .menu .menu-item > a {
      padding: .3rem .4rem;
    }
  }

  .sp-navbar {
    left: 0;
  }

  .sp-content {
    min-width: auto;
    padding: .5rem .5rem 0;
    width: 100%;
  }


}

@media (max-width: 600px) {
  .off-canvas {
    .off-canvas-toggle {
      left: .5rem;
    }
  }

  .sp-navbar {
    .btns {
      right: .9rem;
    }
  }

  .sp-sidebar {
    .sp-brand {
      margin: .85rem 1rem;
    }

    .sp-nav {
      padding: .5rem 1rem;
    }
  }

  .sp-content {
    padding: .5rem .5rem 0;

    .sp-block {
      padding: $unit-2 $unit-h;
    }
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.has-icon-left .icon{
  left: 0;
  height: .8rem;
  margin: 0 .15rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: .8rem;
  z-index: 1;
  transition: opacity .4s;
  color: $gray-color-dark;
}

.has-icon-left .form-input{
  padding-left: 1.1rem;
}

.has-icon-left .form-select{
  padding-left: 1.2rem;

  ~ .icon{
    left: .1rem;
  }
}

.is-normal{
  font-weight: normal;
}

.dropdown.is-wide{
  width: 100%;
  max-width: 200px;

  > .btn-group > .btn:last-of-type{
    flex: none;
  }
}

// Autocomplete menu - limit height
.has-scrollbar{
  &.menu{
    height: 12rem;
  }
}

// Customize Calendar
.flatpickr-calendar.open{
  margin-top: .4rem;
}

.flatpickr-day{
  border-radius: $border-radius;
}

.flatpickr-day.today{
  border-color: $primary-color;
}
