body {
  text-align: center;
  background-color: #3963b1;
  color: white;
}
#resultBodyContainer {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

#price  {
  color:white;
}
#resultBodyRight {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
#sortContainer {
  align-content: flex-start;
  border: solid;
  width: 200px;
  height: 1000px;
  
}
#resultContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#resultHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100vw;
  max-width: 100%;
}
#result {
  display: flex;
  flex-wrap: wrap;
  border: solid;
  flex-direction: column;
  width: 400px;
  justify-content: space-around;
  max-height: 400px;
  padding-left: 20px;
}

#takeoff {
  max-width: 200px;
}
#price {
  background-color: #282c34;
  height: 200px;
  width: 200px;
}

.profileContainer {
  display: flex;
  justify-content: center;
}
.profileInformation li {
  text-align: left;
  width: 400px;
}
.licontainer{
  display: inline-block;
}
.profileInformation span {
  padding: 1%;
}

.profileTitle {
  font-weight: 900;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  max-width: 30vw;
}
